/* Global Reset */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
  }
  
  a {
    color: #4b0082;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  