<div class="row">
    <div class="col">
        <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" formControlName="email" type="text">
                <label for="username">Username</label>
                <input class="form-control" formControlName="username" type="text">
                <label for="password">Password</label>
                <input class="form-control" formControlName="password" type="text">
                <label for="roles">Roles</label>
                <input class="form-control" formControlName="roles" type="text">
            </div>
            <button [disabled]="!signupForm.valid" type="submit" class="btn btn-success">Sign Up</button>
        </form>
    </div>
</div>
