<div class="form-container">
    <h2>Aptitude.ai</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
        <div class="form-group">
            <label for="username">Name</label>
            <input class="form-control" formControlName="username" type="text" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" formControlName="email" type="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" formControlName="password" type="password" placeholder="Password">
        </div>

        <div class="role-buttons">
            <button type="button" class="role-button" (click)="setRole('student')">Student</button>
            <button type="button" class="role-button" (click)="setRole('mentor')">Mentor</button>
        </div>

        <input type="hidden" formControlName="role">

        <button [disabled]="!signupForm.valid" type="submit" class="btn-submit">Sign Up</button>
        <p class="login-link">Already have an account? <a href="/login">Log In</a></p>
    </form>
</div>

  
