.start-call-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #61dafb;
    color: #20232a;
    cursor: pointer;
    transition: background 0.3s;
    margin: 10px 0;
  }
  
  .start-call-button:hover {
    background: #007acc;
    color: #fff;
  }