<!-- <div id="root">
    <stream-channel-list></stream-channel-list>
    <stream-message-list></stream-message-list>
    <stream-notification-list></stream-notification-list>
    <stream-message-input></stream-message-input>
        <stream-thread name="thread">
        <stream-message-list name="thread"></stream-message-list>
        <stream-message-input name="thread"></stream-message-input>
    </stream-thread>
</div> -->

<div id="root">
    <stream-channel-list></stream-channel-list>
        
    <div class="chat-container">
        <stream-message-list></stream-message-list>
        <stream-message-input></stream-message-input>
    </div>

    <button class="start-call-button" (click)="startCall()">Start Call</button>

    <ng-container *ngIf="videoCallService.callId()!">
        <app-call [call]="videoCallService.call()!"></app-call>    </ng-container>
</div>